{% load static %}
<div class="card comentario-card">
    <br>
    <h2 class="mx-auto">Deja tu comentario &DownArrowBar;</h2>

    <form class="mx-auto" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Submit -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Enviar Crítica</button>
    </form>

    <!-- Formulario para enviar una critica -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        El formulario contiene errores. Por favor corrígelos.
    </div>
    {% endif %}

    <script src="{% static 'javascript/critica.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/critica.css' %}">
</div>

