{% load static %}



<div class="container">
    <h2>{{ pelicula.nombre }} {{ pelicula.rank }}&starf;</h2>

    <!-- Formulario para enviar una crítica -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        El formulario contiene errores. Por favor corrígelos.
    </div>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nombre" class="form-label">Nombre:</label>
            {{ form.nombre }}
        </div>
        <div class="mb-3">
            <label for="id_comentario" class="form-label">Comentario:</label>
            <textarea id="id_comentario" name="comentario" class="form-control" rows="3" style="resize: none;"></textarea>
        </div>
        
        <div class="mb-3">
            <label for="id_puntaje" class="form-label">Puntaje:</label>
            {{ form.puntaje }}
        </div>
        <button type="submit" class="btn btn-primary">Enviar Crítica</button>
    </form>

    <!-- Lista de críticas -->
    <h3 class="mt-4">Críticas:</h3>
    <ul class="list-group">
        {% for critica in criticas %}
        <li class="list-group-item">
            <div>
                <h5>{{ critica.nombre }}</h5>
                <p>{{ critica.comentario }} <span class="badge bg-warning text-dark">{{ critica.puntaje }}&starf;</span></p>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">No hay críticas aún.</li>
        {% endfor %}
    </ul>
</div>

