{% extends "base.html" %}
{% load static %}

{% block head_title %}Página de Películas{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">

<div class="container">
    <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-2"> <!-- Ajuste de columnas y espacio -->
        {% for pelicula in peliculas %}
        <div class="col">
            <div class="card custom-card">
                <img src="{{ pelicula.cartelera.url }}" class="card-img-top" alt="{{ pelicula.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pelicula.nombre }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

