{% extends "base.html" %}
{% load static %}

{% block body %}
<section class="card mx-auto" style="width: 40%; margin: 2%; height: 90%;">
    <form action="" method="POST" class="mx-auto" style="margin: 10%; width: 60%;">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 ">Ingresar</button>
    </form>
</section>
{% endblock %}

