{% extends "base.html" %}
{% load static %}

{% block head_title %}Página de Películas{% endblock %}

{% block body %}



<style type="text/css">
    img.wp-smiley,
    img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
    </style>


<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <section class="row">
          {% for pelicula in peliculas %}   
          <article class="col-lg-4 col-md-4 blog_left_sidebar">
              <h5 class="card-title">{{ pelicula.nombre }}</h5> 
              <p>
                  Rank: {{pelicula.rank}}
                  categorias:
                  {%for categoria in pelicula.categoria.all%}
                     {{categoria.categoria}}  
                     {% endfor %}
              </p>
              <a href=""><img src="{{ pelicula.cartelera.url }}" class="card-img-top" alt="{{ pelicula.nombre }}" style="width: 100%; max-width: 300px; height: auto;">
              </a>

          </article>
          {%empty%}
            <p>Cero Resultados</p>
          {% endfor %}
      </section>
    </div>
  </div>
  

{% endblock %}

