{% extends "base.html" %}
{% load static %}

{% block body %}
<section class="card mx-auto" style="width: 40%; margin: 2%; height: 90%;">
    <form action="" method="POST" class="mx-auto" style="margin: 5%; width: 90%;">
        <h2 >Postúlate </h2>
        <br>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        {% csrf_token %}
        {{ form.as_p }}
        
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 ">Registrarse</button>
        
        {% if form.errors %}
        <div class="error-message">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}:
                            <ul>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </form>

</section>
{% endblock %}

