/* Ajustes de los botones */
button.btn {
    margin-left: 5px; /* Espacio entre los botones */
}

/* Ajustes de la barra de búsqueda */
form.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

