{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href='/'>
            <img src="{% static 'images/icono.webp' %}" alt="Logo Repelis" width="30" height="30" class="d-inline-block align-text-top">
            Repelis
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/peliculas' in request.path %}active{% endif %}" href="/peliculas">Películas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if 'categorias' in request.path %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorías</a>
                    <ul class="dropdown-menu">
                        {% for categoria in categorias %}
                            <li><a class="dropdown-item" href="/categorias/{{ categoria.categoria }}">{{ categoria.categoria }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/actores' in request.path %}active{% endif %}" href="/actores">Actores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/directores' in request.path %}active{% endif %}" href="/directores">Directores</a>
                </li>
            </ul>

            {%include 'busquedadinamica.html'%}

            <!-- Botones de inicio de sesión y creación de usuario -->
            <div>
                <button class="btn btn-success" type="button" >Iniciar sesión</button>
                <button class="btn btn-success" type="button" >Ser Moderador</button>
            </div>
        </div>
    </div>
</nav>
