{% extends "base.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/mostrarPelicula.css' %}">
<div class="container" style="margin-top: 2cm;">
    <h2>{{ pelicula.nombre }}&nbsp;{{ pelicula.rank }}&starf;</h2>
    <div class="row align-items-center">
        <div class="col-lg-3 text-center">
            <img src="{{ pelicula.cartelera.url }}" alt="{{ pelicula.nombre }}" class="img-fluid">
            <p>
                {% for categoria in pelicula.categoria.all %}
                    {{ categoria.categoria }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        <div class="col-lg-6">
            <h4>Sinopsis:</h4>
            {{ pelicula.sinopsis }}
            <p>
                <h6>Directores:</h6>
                {% with director_count=0 %}
                    {% for actor in pelicula.artista.all %}
                        {% if actor.tipo_de_Artista == 'DIRECTOR' %}
                            {% if director_count > 0 %}, {% endif %}
                            {{ actor.nombre }} {{ actor.apellido }}
                            {% with director_count=director_count|add:1 %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </p>
            <p>
                <h6>Reparto:</h6>
                {% with actor_count=0 %}
                    {% for actor in pelicula.artista.all %}
                        {% if actor.tipo_de_Artista == 'ACTOR' %}
                            {% if actor_count > 0 %}, {% endif %}
                            {{ actor.nombre }} {{ actor.apellido }}
                            {% with actor_count=actor_count|add:1 %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </p>
            <p>
                <h6>Estreno:</h6>
                {{ pelicula.estreno }}
            </p>
            <p>
                <h6>País:</h6>
                {{ pelicula.pais }}
            </p>
        </div>
    </div>
    <section>
        <h4>Deja tu crítica</h4>
        {% include 'criticar.html' %}
    </section>
</div>
{% endblock %}
